<form action="/add_entry" method="post">
  <dl class="form">
    <dd>
      <input class="input-block" id="description" name="description" type="text" style="width: 100%" placeholder="description">
    </dd>
  </dl>
  <div class="contents-body">
    <dl class="form">
      <dd>
        <div id="inputblock" class="">
          <div id="inputarea" class="">
　　　　　　<textarea autofocus="true" class="input-block" id="content" name="content" placeholder="message..." style="min-height: 300px; width: 100%;" type="text"></textarea>
          </div>
        </div>
      <dd>
    </dl>
  </div>
  <br>
  <div class="form-actions">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>
