<div class="entrys-title">
  <div class="flex-table">
    <div class="flex-table-item flex-table-item-primary">
      <%= h(text: @entry.description) %>
    </div>
  </div>
</div>
<div class="entrys-body">
  <pre class="prettyprint"><%= @entry.entry %></pre>
</div>
<div class="flex-table-item" align="right">
    <a href="/entry/<%= @entry.entry_id %>/raw">raw</a>
    <%= h(text: @entry.created_at) %>
</div>
