<div class="contents-title">
  <div class="flex-table">
    <div class="flex-table-item flex-table-item-primary">
      <%= @entry[:description] %>
    </div>
    <div class="flex-table-item">
      <%= @entry[:created_at] %>
    </div>
  </div>
</div>
<div class="contents-body">
  <%= @entry[:content] %>
</div>
